@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700|IBM+Plex+Serif:400,700");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

* {
  font-family: "IBM Plex Sans";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "IBM Plex Serif";
}

body {
  padding-top: 3em;
}
